*, *::after, *::before {
  box-sizing: border-box;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;  
  overflow: visible;
  
  font-size: 14px;
  font-family: "Merriweather", serif;
}
