.workout-wrapper {
  display: block;
  margin: 0 auto;
  max-width: 860px;
  padding: 20px;

  .title {
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 40px;
  }

  .empty-list {

    .subtitle {
      font-size: 22px;
      margin-bottom: 10px;
    }

  }
}