table {
  margin-bottom: 20px;
  width: 100%;
}

caption {
  font-weight: 400;
  padding: 10px 0;
}

thead th {
  background: #ececec5e;
  font-weight: bolder;
  color: #000;
}

tr {
  border-bottom: 1px solid #FFF;
  border: 1px solid #e6e6e6;
}

tr:nth-child(even) {
  background: #ececec5e;
}

th, td {
  text-align: left;
  padding: 15px;
  font-weight: 300;

  .week-day {
    display: block;
    font-size: 10px;
    margin: 5px 0;
  }
}
