.todo {
  display: block;
  margin: auto;
  width: 100%;
  min-width: 280px;
  max-width: 480px;
  background-color: #fefeff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: 0 15px 150px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 15px 150px rgba(0,0,0,0.15);
  box-shadow: 0 15px 150px rgba(0,0,0,0.15);
}
